body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.link-1 {
  color: #172b4d;
}

.logo {
  color: #283;
}

.big-heading,
.md-heading,
.about-heading {
  color: #172b4d;
}

.md-heading::after {
  content: '';
  position: absolute;
  bottom: -12.8px;
  left: 50%;
  background: #36b37e;
  width: 48px;
  height: 4px;
  transform: translate(-50%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  width: 90%;
}

.empty-div {
  height: 252px;
}

.card-title {
  color: #3a4a42;
}

/* .heading {
  width: 372px;
} */

.first-section {
  background-image: url(./images/bg-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-section {
  margin: 70px 0;
}

.frame {
  width: 70px;
  right: 0;
}

.frame-2 {
  width: 70px;
  left: 0;
}

.skills-list {
  background: #ebf0ee;
}

.skills-image {
  width: 50px;
}

.skills-text {
  color: #344563;
}

